/* Variables */

:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}


/* Globales */

html {
    box-sizing: border-box;
    /* para que el padding no afecta el ancho de los elementos  */
    font-size: 62.5%;
    /* 1 rem = 10 px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    /* interlineado */
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    /* line-height:1.2; interlineado entre paragrafos */
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}


/* Header */

.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    /* Height. Altura de la imagen */
    background-size: cover;
    /* background-size:cover; propiedad aplicada para el tamaño de las imagenes de fondo. Cover. Escala la imagen al mayor tamaño posible sin estirarla. */
    background-repeat: no-repeat;
    /* background-repeat:no-repeat; difine como se repiten los fondos. con la propiedad no-repeat permite no repetir la imagen */
    background-position: center center;
    /* background-position:center center; define la posicion inicial de la imagen de fondo especificada. center center refiere el primero de izquierda a derecha segundo de arriba hacia abajo */
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

@media (min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        /* justify-content:space-between; alienar horizontalmente */
        align-items: center;
        /* align-items:center; para alinear verticalmente */
    }
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco)
}


/* Contenido Principal */

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}


/* blog */

.entrada {
    border-bottom: 1px solid var(--gris);
    /*border-bottom: border en la parte superior. ancho tipo color de los border */
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
    /* Selector que permite quitar la margen del ultimo elemento, en este caso del ultimo elemento del blog para quitar el border y el margin para que no sea aplicado */
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

@media (min-width:768px) {
    .boton {
        display: inline-block;
    }
}

.boton--primario {
    background-color: var(--negro);
}


/* aside */

.boton--secundario {
    background-color: var(--primario);
}

.cursos {
    list-style: none;
    /* list-style:none; elemento para quitar las villetas del elmento de html Ul. Nota recordar que todas las lista tienen padding*/
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

..widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}